h1{
    background-color: #044933;
    color: rgb(143, 240, 208);
    border: 4px solid rgb(107, 229, 77);
}
@media(max-width:400px){
   h1{
    background-color:red ;
   } 
   div{
    height: 100px;
    width: 100px;
    background-color: #053929;
   }
}
@media(orientation:landscape){
    h1{
        background-color: pink;
        color: white;
    }
}