
div{
width: 200px;
height: 200px;
/* text-align: center; */
background-color: #7aa874;
/* border: 2px solid black; */
margin: 10px auto;
/* box-shadow: 2px 2px 8px black; */
background-image: url("neom-aWHKsYkbCi8-unsplash.jpg");
background-size: cover;
}
